.app-bar {
    color: #4d4dbd;
    background-color: #111139;
    /* padding: 0 2rem; */
    box-shadow: none;
  }
  
  .logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .logo {
    /* margin-right: 10px; */
    height: 50px;
  }
  
  .logo-name {
    height: 30px;
  }
  
  .MuiButton-root {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .MuiButton-root:hover {
    color: #ffffff;
  }
  
  .MuiIconButton-root {
    color: #fff;
  }
  
  .header {
    background-color: #0f2a3f; /* カスタムカラー */
  }
  
  