body {
    /* width: 100vw;
    height: 100vh;
    background: #ff0055;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; */
  }
  
  .window {
    width: 100%;
    height: 600px; /* 固定の高さを設定 */
    border-radius: 10px;
    background: white;
    overflow: hidden;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    display: flex;
    flex-direction: column;
  }
  
  nav {
    background: #dfdfdf;
    padding: 0px 5px 0;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 2px solid #eeeeee;
    /* height: 100px; 高さを固定 */
    display: grid;
    grid-template-columns: 1fr 35px;
    max-width: 100%;
    overflow: hidden;
    color: #000;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .tab-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .tab-description {
    padding-top: 1%;
    color: #232760;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  }
  
  .tabs {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: 100%;
    padding-right: 10px;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 128px;
    flex-grow: 1;
    user-select: none;
    padding: 20px;
    height: calc(100% - 100px); /* 残りの高さを占める */
  }
  
  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
  }

  
  li {
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    padding: 10px 15px;
    position: relative;
    background: white;
    cursor: pointer;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    min-width: 0;
    overflow: hidden;
    position: relative;
    user-select: none;
  }
  
  li span {
    flex-shrink: 1;
    flex-grow: 1;
    line-height: 100%;
    white-space: nowrap;
    display: block;
    min-width: 0;
    padding-right: 30px;
    mask-image: linear-gradient(to left, transparent 20px, #fff 40px);
    -webkit-mask-image: linear-gradient(to left, transparent 20px, #fff 40px);
  }
  
  li .close {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
  }
  
  li button {
    width: 20px;
    height: 20px;
    border: 0;
    background: #fff;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: #000;
    margin-left: 10px;
    cursor: pointer;
    flex-shrink: 0;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
  }
  
  .add-item {
    width: 30px;
    height: 30px;
    background: #eee;
    border-radius: 50%;
    margin-top: 40%;
    margin-left: 10%;
    border: 0;
    cursor: pointer;
    align-self: center;
  }
  
  .add-item:disabled {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
  }

  .label {
    font-size: 0.9rem;
    font-weight: bolder;
    color: #353434;
    margin-top: 1%;
    /* margin: 1rem; */
  }
  
  .tab-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* 中央寄せ */
  }
  