.app-container {
  font-family: 'Arial', sans-serif;
  color: #e0e0e0;
  background-color: #2C2C2C;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem; */
  background-color: #333;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #e0e0e0;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  /* padding: 2rem; */
}
